.ExerciseChooser
  margin-top: 50px

  input
    margin: 20px
    cursor: pointer
    width: 100px
    background: #65a9d7
    padding: 8px 16px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    color: white
    font-size: 16px
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif
    text-decoration: none
    vertical-align: middle

    :hover
      background: #28597a
      color: #ccc

    :active
      background: #1b435e

