@import ../../base

.typed-character
  font-family: 'Droid Sans Mono', courier
  margin-left: 2px
  font-size: 45px
  color: $blue-charcoal
  display: inline
  word-wrap: break-word

.char-current
  text-decoration: underline

.char-success
  background-color: $chateau-green

.char-error
  background-color: $roman

.char-cr:before
  font-size: 12px
  content: "↵"
  position: relative
  left: 3px
  bottom: -1px

