.typed-character {
  font-size: 35px;
  display: inline;
  word-wrap: break-word;
}

.char-to-go {
  color: grey;
}

.char-current {
  color: #909090;
  /* background-color: #c6c6c6; */
  border-bottom: 3px solid #c6c6c6;
}

.char-success {
  color: #5b7261;
  background-color: #bee0be;
}

.char-error {
  color: #842323;
  background-color: #dbadad;
}

.char-space {
  border-bottom: 2px solid #dedede;
  border-radius: 4px;
}

.char-cr:before {
  color: #ababab;
  font-size: 12px;
  content: "↵";
  position: relative;
  left: 3px;
  bottom: -1px;
}
