@import ../../base

.typed-character
  font-size: 35px
  color: black
  display: inline
  word-wrap: break-word

.char-current
  text-decoration: underline

.char-success
  background-color: $pixie-green

.char-error
  background-color: $blossom

.char-cr:before
  font-size: 12px
  content: "↵"
  position: relative
  left: 3px
  bottom: -1px

