@import ../../base

.typed-character
  font-family: 'Droid Sans Mono', courier
  margin-left: 5px
  font-size: 40px
  color: $brandy
  display: inline
  word-wrap: break-word
  border-radius: 5px;

.char-current
  text-decoration: underline

.char-success
  color: $oxley
  background-color: $black-bean

.char-error
  color: $turkish-rose
  background-color: $heath

.char-cr:before
  font-size: 12px
  content: "↵"
  position: relative
  left: 3px
  bottom: -1px

