@import ../../base

.rtypist__typing-tracker
  padding: 50px
  height: 300px
  width: 920px
  margin-right: auto
  margin-left: auto
  text-align: left
  white-space: pre-wrap
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px

  &__text
    overflow: hidden
    height: 300px

  &__line
    margin-top: 25px
    line-height: 35px

textarea
  background-color: $blue-charcoal
  resize: none
  outline: none
  color: $blue-charcoal
  border: $blue-charcoal
  position: fixed
  font-size: 1px
  bottom: -1px

